*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.images{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin: 2rem;
}

img{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 39px -16px black;
}