*{
margin: 0;
padding: 0;
}

.title{
    background-color: aquamarine;
}

.sideMenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    background-color: aqua;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}